.page-container {
  display: flex;
  justify-content: center;
}

.post-container {
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  border: 1px solid black;
  border-radius: 15px;
  width: 50%;
  margin: 5px;
  padding: 2px;
}

.post-username {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  text-align: center;
}

.post-date {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
  color: darkslategray;
}

.post-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.post-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: lightgray;
  border-radius: 5px;
  padding: 7px;
}

.post-delete {
  grid-column: 3 / 4;
  grid-row: 1 /2;
}

.post-tags {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-each-tag {
  margin-right: 10px;
}

.post-reaction {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
}
